section {
    margin: 30px auto;
 }

 [class^="box"] {
    height: 200px;
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
 }
