@charset "UTF-8";
body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* box1 */
.box1 {
    padding: 8px 0;
}
.site h1 a {
    color: #85afb3;
    text-decoration: none;
}
.site h1 {
    margin: 0;
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
}



/* box2 - 네비게이션 */
.box2 {
    background: #92adaf;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    display: block;    
    padding: 15px;
    color: #eeeeee;
}
.menu ul a:hover {
    background: #eeeeee;
    color: #000000;
}
.menu ul::after {
    content: '';
    display: block;
    clear: both;
}
.menu ul li {
    float: left;
}


/* box3 - 기사 */
.box3 {
    padding: 40px 0 30px;
}
.article-cat h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 36px;
}
.article-cat p {
    line-height: 35px;
}
.article-cat img {
    max-width: 100%;
    margin-bottom: 20px;
}
/* 기사 작성일 */
.time-article-cat {
    margin-top: -10px;
    margin-bottom: 20px;
    line-height: 20px;
}
.time-article-cat i {
    color: #aaaaaa;
    margin-right: 5px;
    font-size: 18px;
    vertical-align: bottom;
}
/* 기사 태그 분류 */
.link-article-tag {
    margin-bottom: 10px;
}
.link-article-tag ul::after {
    content: '';
    clear: both;
    display: block;
}
.link-article-tag li {
    float: left;
}
.link-article-tag li a {
    display: block;
    padding: 3px 5px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    background: #65b1b8;
    margin-right: 5px;
    border-radius: 3px;
} 
.link-article-tag li a:hover {
    background: #89dae1;
}

/* box4 */
.box4 {
    padding: 40px 0 30px;
}
.sidemenu {
    margin-bottom: 30px;
}
.sidemenu h2 {
    margin: 0 0 10px;
    border-bottom: dotted 2px #dddddd;
    color: #666666;
    font-size: 18px;
}
.sidemenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidemenu ul a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    display: block;    
    padding: 5px;
}
.sidemenu ul a:hover {
    background: #eeeeee;
}
/* 추천 기사 */
.recommend {
    margin-bottom: 30px;
}
.recommend h2 {
    margin: 0 0 10px;
    border-bottom: dotted 2px #dddddd;
    color: #666666;
    font-size: 18px;
}
.recommend ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.recommend ul a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    display: block;    
    padding: 5px;
}
.recommend ul a:hover {
    background: #eeeeee;
}
/* 인기 기사 */
.popular {
    margin-bottom: 30px;
}
.popular h2 {
    margin: 0 0 10px;
    border-bottom: dotted 2px #dddddd;
    color: #666666;
    font-size: 18px;
}
.popular ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.popular ul a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    display: block;    
    padding: 5px;
}
.popular ul a:hover {
    background: #eeeeee;
}

/* box5 */
.copyright p{
    margin: 0;
    color: #666666;
    font-size: 14px;
    border-top: 1px solid #dddddd;
}


/* 599px 이하일 때 */
@media screen and (max-width: 599px) {
    /* 네비게이션 */
    .menu li a {
        padding: 10px 5px;
        font-size: 11px;
    }
    /* 사이트 이름 */
    .site h1 {
        font-size: 20px;
    }
    /* 기사 제목 */
    .article-cat h2 {
        font-size: 26px;
    }
    /* 박스 사이의 간격 */
    .box1 {
        padding: 4px 0;
    }
    .box3 {
        padding-top: 25px;
    }
}

/* 600px ~ 767px일 때 */
@media screen and (min-width: 600px) and (max-width: 767px) {
    /* box4-1과 box4-2를 가로정렬하는 설정*/
    .box4::after {
        clear: both;
        display: block;
        content: '';
    }
    .box4-1 {
        float: left;
        width: 50%;
        padding-right: 20px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .box4-2 {
        float: left;
        width: 50%;
        padding-left: 20px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}

/* 768px 이상일 때 */
@media screen and (min-width: 768px) {
    .cont-float::after {
        content: '';
        display: block;
        clear: both;
    }
    .cont-float .box3 {
        float: left;
        width: 70%;
        padding-right: 50px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .cont-float .box4 {
        float: right;
        width: 30%;
    }
}

/* 1040px 이상일 때 */
@media screen and (min-width: 1040px) {
    .box1, .box2, .cont-float, .box5 {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
